*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header hr{
    margin-top: 30px;
    margin-bottom: 20px;
}

header{
    margin: 10px;
}

main{
    background-color: rgb(207, 231, 243);
    padding: 60px 300px 20px 300px;
}

button{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.2);
}

section h2{
    margin-bottom: 15px                            ;
}

ul {
    list-style-type: none;
    }

li{
     margin-bottom: 20px;
}

#main-logo{
    height: 100%;
    vertical-align: middle;
}

#title{
    font-size: 40px;
    font-weight: 800;
    height: 100%;
    vertical-align: middle;
}

#container{
    height: 700px;
    width: 800px;
    background-color: white;
    border-radius: 4px;
}

#container__content{
    margin-left: 70px;
    height: 100%;
}

.add{
    border-bottom: 2px solid rgb(207, 231, 243);
}

#task{
    background-color: rgb(76, 186, 236);
    color: white;
    margin-left: 70px;
}

#section{
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
}

.new-task{
    font-size: 16px;
    padding-top: 20px;
}

.thick{
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.yes{
    color: skyblue;
    border: 1px solid skyblue;
}

.nope{
    color: red;
    border: 1px solid red;
}

.evidenziato{
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 12px;
}

.freccetta{
    font-size: 20px;
    vertical-align: middle;
}

.editorial{
    background-color: turquoise;
}

.goals{
    background-color: violet;
}

.recruiting{
    background-color: rgb(38, 85, 155);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: pink;
}

.sales{
    background-color: lime;
}